* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    /* color: #D0ECE7; */
    /* color:#D7DBDD; */
    /* color: rgba(21, 67, 96, 0.7); */
    color: rgba(45, 87, 129, 0.9);
    /* color: #154360; */
    font-size: 20px;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

hr {
    height:auto;
}

#container {
    width: 100%;
    /* min-width: 400px; */
    height: 100%;
    min-height: 700px;
    /* background-color: #E5E8E8; */
    background-color: none;
    /* border: 1px solid black; */
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
}

nav {
    width: 100%;
    height: 90px;
    /* border: 3px solid black; */
    /* color: black; */
    /* background-color: #003C5F; */
    /* background-color: #154360ce; */
    /* background-image: linear-gradient(180deg, rgba(31,97,141,0.3), #E5E7E9); */
    /* background-color: rgba(208, 236, 231, 0.527); */
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.nav-button {
    /* border: 3px solid red; */
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box{
    width:60px;
    height:40px;
    /* border: 3px solid blueviolet; */
    text-align: center;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
}

.projects{
    width:80px;
    /* height:40px;
    border: 3px solid blueviolet;
    text-align: center;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box; */
}

a {
    text-decoration: none;
}

.underline-box {
    width: 100%;
    height: 5%;
    margin-top: 2px;
    /* border: 2px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline-animation {
    /* background-color: rgba(21, 67, 96, 0.7); */
    background-color: rgba(45, 87, 129, 0.9);
    /* background-color: black; */
    width: 100%;
    height: 100%;
    display: none;
}

@keyframes squeezeBox {
    from {width: 0%;}
    to {width: 100%;}
}

.nav-button:hover .underline-animation {
    /* background-color: #1ABC9C; */
    display: block;
    animation: squeezeBox 1s ease;
}

#greeting {
    margin: 90px auto;
    /* border: 1px solid black; */
    width: 70%;
    height: auto;
    padding: 20px;
    text-align: center;

    /* position: relative; */
}

h1, h2 {
    font-size: 3vmax;
}

#description {
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 70%;
    padding: 20px;
    text-align: center;  
}

#progress {
    width: auto;
    /* border: 1px solid black; */
    padding: 20px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
}

#progress::before {
    content: '';
    border-top: 5px solid rgba(45, 87, 129, 0.7);
    border-left: 5px solid rgba(45, 87, 129, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    transform: scale(0);
    transform-origin: 0px 0px;
    transition: all 0.5s;
}

#progress::after {
    content: '';
    border-right: 5px solid rgba(45, 87, 129, 0.7);
    border-bottom: 5px solid rgba(45, 87, 129, 0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    transform: scale(0);
    transform-origin: 273px 70px;
    transition: all 0.5s;
}

#progress:hover::before {
    transform: scale(1);
}

#progress:hover::after {
    transform: scale(1);
}

h3 {
    font-size: 3vmax;
}

.progress {
    width: 250px;
    /* border: 1px solid black; */
    position: relative;
}

h3 {
    font-size: 30px;
}

#progress:hover .underline-animation {
    display: block;
    animation: squeezeBox 1s ease;
}

#box {
    width: 100%;
    height: 100%;
    min-height: 700px;
    /*   background-color: orangered; */
    /* border: 1px solid black; */
    /* background-color: #F8F9F9; */
    background-color: #FDFEFE;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    }

@keyframes expandSound {
    from {height: 0px;}
    to {height: 100%;}
}

.sound-box {
    width: 150px;
    height: 100%;
    /* background-color: #E93939; */
    /* background-image: linear-gradient(180deg, #F8F9F9, rgba(31,97,141,0.8)); */
    background-image: linear-gradient(180deg, rgba(253,254,254,1), rgba(31, 97, 141, 0.8));

    animation: expandSound 4s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sTwo {
    animation: expandSound 3.99s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sThree {
    animation: expandSound 3.98s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sFour {
    animation: expandSound 3.97s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sFive {
    animation: expandSound 3.96s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sSix {
    animation: expandSound 3.95s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sSeven {
    animation: expandSound 3.94s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sEight {
    animation: expandSound 3.93s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sNine {
    animation: expandSound 3.92s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sTen {
    animation: expandSound 3.91s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sEleven {
    animation: expandSound 3.9s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sTwelve {
    animation: expandSound 3.89s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sThirteen {
    animation: expandSound 3.88s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#container2 {
    width: 100%;
    height: 100%;
    min-height: 700px;
    /* background-color: #F8F9F9; */
    background-color: #FDFEFE;
    border-bottom: 1px solid rgba(45, 87, 129, 0.2);
    /* border: 3px solid maroon; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#about {
    width: 66.66%;
    height: inherit;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
}

#about-separator-left {
    width: 50%;
    height: inherit;
    /* min-height: 700px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid navy; */
    padding: 10px;
}

#about-me-title {
    /* border: 1px solid black; */
    width: 75%;
    padding: 10px;
}

.about-content {
    /* border: 1px solid black; */
    height: 8%;
    width: 80%;
    margin: 20px;

    position: relative;
    /* margin-top:50px; */
}

.name {
    margin-top: 20%;
}

.image {
    height: auto;
    /* border: 1px solid black; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(45, 87, 129, 0.7);
    /* position: absolute; */
    position: absolute;
    transform: scale(1.05);
    /* display: block; */
    z-index: 2;
}

#image-cover:hover {
    opacity: 0;
    transform: scale(1);

    transition-duration: 0.5s;
}

img#aizat {
    width: 100%;
    height: auto;
    /* opacity: 0.9; */
    /* position: absolute; */
    /* position: absolute; */
    /* display: block; */
    z-index: 1;
}

#contact-me-title {
    /* border: 1px solid black; */
    width: 75%;
    padding: 5px;
}

.icon-container {
    width: 100%;
    height: auto;
    padding: 5px;
    /* border: 1px solid cyan; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;

    position: relative;
}

.icon-right {
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid cyan; */
    min-height: 150px;
}

span {
    width: 1px;
    height: 100%;
    /* border: 1px solid black; */
    background-color: rgba(45, 87, 129, 0.2);
}

#about-separator-right {
    width: 50%;
    min-height: 600px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
    padding: 10px;
    padding-top: 5%;
    
}

.hobbies {
    /* border: 1px solid black; */
    height: 15%;
}

.hobby-football, .game, .gym, .sleep, .food, .music  {
    /* border: 1px solid black; */
    margin: 0px;
    width: 80%;
    height: auto;
    padding: 0px;
    display: none;
    background-color: #FDFEFE;
    /* position: absolute;
    top: 100;
    left: 100; */
}

@keyframes moveDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.football {
    margin: 0px;
    margin-top: 10px;
    display: none;
}

h4, p {
    margin: 10px;
}

h4 {
    font-size: 24px;
}

p#nav-about, p#nav-projects {
    margin: 0px;
}


i {
    width: 50px;
    height: 50px;
    /* background-color: white; */
    /* color: black; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    /* margin-left: 0px; */
    transition: all 0.5s ease;
}


i:hover {
    transform: scale(1.2);
}

#resume {
    width: 33.33%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(45, 87, 129, 0.2); */
}

img#resume {
    width: 80%;
    height: auto;
    /* border: 1px solid grey; */
    border: 1px solid rgba(45, 87, 129, 0.2);
}

a#resume-link {
    margin: 30px;
    /* border: 1px solid black; */
}

#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    z-index: 10;
}

#modal-box {
    width: 50%;
    min-width: 500px;
    max-height: auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    /* overflow: scroll; */
    /* border-radius: 5px; */

    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: flex-start; */

    text-align: justify;
    /* position: absolute; */
    /* z-index: 15; */
}

#modal-content {
    /* border: 1px solid black; */
    display: inline-block;
    /* margin: 10px 0; */
}

p#modal-para {
    /* margin: 5px 0; */
    line-height: 25px;
}

i.x-icon {
    float: right;
    /* border: 1px solid black; */
    margin: 0px;
    padding: 14px
}

#container3 {
    width: 100%;
    height: 100%;
    min-height: 900px;
    /* background-color: #F8F9F9; */
    background-color: #FDFEFE;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#project {
    width: 50%;
    height: 100%;
    min-height: 400px;
    /* margin: 0 auto; */
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

#mastery {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#project-content {
    /* border: 3px solid goldenrod; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* padding: 60px */
    /* overflow: hidden; */
    white-space: nowrap;
    font-size: 0;

    /* position: relative; */

    transform: translate(0%, 0);
    transition: all 1s ease;

}

.project-slider {
    width: 100%;
    height: 100%;
    /* border-top: 1px solid rgba(45, 87, 129, 0.2); */
    /* border-left: 1px solid rgba(45, 87, 129, 0.2); */
    /* border-bottom: 1px solid rgba(45, 87, 129, 0.2); */
    display: inline-block;
    font-size: 1rem;
    padding: 30px;
    text-align: center;
    
}

/* .slider1 {
    overflow: hidden;
} */

img#projectOne {
    width: 70%;
    height: 80%;
    border: 1px solid rgba(45, 87, 129, 0.2);
}

img#projectTwo {
    width: 70%;
    height: 80%;
    border: 1px solid rgba(45, 87, 129, 0.2);
}

img#projectThree {
    width: 50%;
    height: 80%;
    border: 1px solid rgba(45, 87, 129, 0.2);
}

img#projectFour {
    width: 50%;
    height: 80%;
    border: 1px solid rgba(45, 87, 129, 0.2);
}

.button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(45, 87, 129, 0.9);
    background-color: rgba(45, 87, 129, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.left {
    left: 5%;
    color: #FDFEFE;
    /* background-color: rgba(45, 87, 129, 0.9); */
}

.right {
    right: 55%;
    color: #FDFEFE;
}

i.left {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 15px;
}

i.right {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 15px;
}


#pagination-holder {
    /* border: 2px solid blueviolet; */
    width: 400px;
    height: 40px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    /* bottom: -190%; */
    margin-top: 360px;
}

#pagination-holder ul {
    list-style-type: none;
}

#pagination-holder ul li {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: rgba(45, 87, 129, 0.9);
    /* border-radius: 50%; */
    /* position: absolute; */
}

li {
    /* margin: 0.5px; */
    transition-duration: 0.2s;
}

#pagination-holder ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#pagination-holder ul li.active {
    background-color: #FDFEFE;
    border: 1px solid rgba(45, 87, 129, 0.9);
    transform: scale(1.2);
}

/* #mastery {
    border: 2px solid blue;
} */

#mastery-content {
    /* border: 1px solid skyblue; */
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.skill {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid grey; */
}

.title {
    text-align: center;
    /* font-size: 50px; */
    font-weight: bolder;
    /* font-size: 25px; */
    margin-bottom: 20px;
}

.progress-title {
    /* border: 1px solid yellowgreen; */
    text-align: left;
    width: 30%;
}

.progress-bar {
    border: 1px solid grey;
    height: 100%;
    width: 70%;
    margin-left: 60px;
}

.more {
    font-weight: bolder;
    margin-top: 20px;
}

@keyframes progressLoading {
    from {width: 0%;}
    to {width: var(--percentProg)}
}

.progress-animation {
    height: 100%;
    width: 100%;
    /* border: 1px solid rgba(31,97,141,0.8); */
    background-image: linear-gradient(270deg, #F8F9F9, rgba(31,97,141,0.8));
    --percentProg: 70%;
    animation: progressLoading 3s ease;
    animation-iteration-count: infinite;
}

.js {
    --percentProg: 30%;
}

.bootstrap {
    --percentProg: 3%;
}

.php, .laravel, .react {
    --percentProg: 1%;
}

@media (max-width: 700px) {

    #container {
        min-height: 800px;
        /* min-width: 450px; */
    }

    #box {
        min-height: 800px;
    }
    
    #greeting {
        width: 300px;
        text-align: center;
        /* font-size: 10px; */
    }
    /* #description {
        width: 500px;
    } */

    #progress {
        bottom: 10px;
    }

    /* h1, h2 {
        font-size: 40px;
    } */

    #container2 {
        flex-direction: column;
        height: auto;
        min-height: 400px;
    }

    #about {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #about-me-title {
        padding-left: 0px;
        margin-left: 0px;
        width: 80%;
    }

    #contact-me-title {
        width: 80%;
    }

    #about-separator-left {
        width: 90%;
    }

    .name {
        margin-top: 20px;
    }

    span{
        width: 100%;
        height: 1px;
        background-color: rgba(45, 87, 129, 0.2);
    }

    #about-separator-right {
        width: 90%;
        /* min-height: 300px; */
        margin-bottom: 30px;
    }

    /* .icon-container {
        flex-wrap: nowrap;
    } */

    .icon-right {
        min-height: 80px;
        /* border: 1px solid black; */
    }

    img#aizat {
        /* width: 250px; */
        max-width: 100%;
        /* height: 250px;
         */

        height: auto;
        opacity: 0.8;
        /* border-radius: 50%; */
    }

    i {
        margin: 5px;
    }

    #resume {
        width: 100%;
    }

    #container3 {
        flex-direction: column;
        height: auto;
        min-height: 400px;
    }

    #project {
        width: 100%;
        height: auto;
        overflow: visible;
    }

    #project-content {
        height: 500px;
        width: 100%;
        overflow: hidden;
    }

    .project-slider {
        height: 500px;
        width: 100%;
        /* overflow: hidden; */
    }

    img#projectOne {
        width: 80%;
    }

    img#projectTwo {
        width: 80%;
    }

    .left {
        left: 5%;
    }

    .right {
        right: 5%;
    }

    #pagination-holder {
        /* bottom: -2310px; */
        /* margin-bottom: 10px; */
        margin-top: 210px;
    }

    #mastery {
        width: 100%;
        /* height: 50%; */
    }

    #mastery-content {
        width: 100%;
        height: 100%;
    }

    .skill {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        padding: 10px;
        /* padding-left: 0px; */
    }

    .progress-title {
        /* width: 100%; */
        height: 100%;
        padding: 10px 0px;
    }

    .progress-bar {
        width: 100%;
        height: 20px;
        margin-left: 0px;
    }

}
