* {margin:0; padding: 0;}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #F2F4F4;
    font-family: Verdana, sans-serif;
    font-weight: 400;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #0E6655;
    color: #F2F4F4;
    box-sizing: border-box;
}

nav {
    /* border: 1px solid black; */
    width: 50%;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
}

.nav-button {
    border: 2px solid white;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box{
    width:100%;
    height:40px;
    /* border: 2px solid grey; */
    text-align: center;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
}

p#about {
    /* border: 1px solid white; */
}

.underline-box {
    width: 100%;
    height: 4%;
    margin-top: 2px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes squeezeBox {
    from {width: 0%;}
        to {width: 100%;}
}

.underline-animation {
    background-color: white;
    width: 100%;
    height: 100%;
    display: none;
}

.nav-button:hover {
    background-color: #1ABC9C;
}

.nav-button:hover .underline-animation {
    /* background-color: #1ABC9C; */
    display: block;
    animation: squeezeBox 1s ease;
}

#dropDown {
    /* border: 3px solid white; */
    /* min-width: 300px; */
    color: white;
    background-color: #0E6655;
    list-style-type: none;
    /* padding: 20px 0px; */
    box-sizing: border-box;
    display: none;
}

ul#about-list, li#about-list {
    list-style-type: none;
}

ul#about-list {
    /* border: 2px solid red; */
}

li#about-list {
    /* margin-bottom: 20px; */
    padding: 30px;
    box-sizing: border-box;
    /* border: 2px solid blue; */
}

.text-box:hover > #dropDown {
    display: block;
}

li#about-list:hover {
    background-color: #1ABC9C;
}

#mobile-nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #0E6655;
    border: 1px solid white;
    /* padding: 20px;
    box-sizing: border-box; */
    position: absolute;
    top: 25px;
    left: 20px;
    display: none;
}

ul#mobile-list, li#mobile-list {
    list-style-type: none;
}

#mobile-sub-menu {
    width: 250px;
    height: 300px;
    background-color: #0E6655;
    color: white;
    /* border: 2px solid red; */
    display: block;
    position: absolute;
    top:100px;

}

li#mobile-list {
    /* border: 1px solid pink; */
    padding: 27px;
    box-sizing: border-box;
}

#mobile-sub-menu ul#mobile-list li#mobile-list:hover {
    background-color: #1ABC9C;
}

#dropDown-mobile ul#about-list-mobile li#about-list-mobile {
    list-style-type: none;
}

#dropDown-mobile {
    /* border: 1px solid black; */
    background-color: #0E6655;
    color: white;
    width: 100%;
    position: absolute;
    top: 72;
    left: 250;
    display: none;
}

li#about-list-mobile {
    padding: 30px;
    box-sizing: border-box;
}



@media (max-width: 500px) {
    #mobile-nav-icon {
        display: block;
    }

    nav {
        display: none;
    }

    #mobile-nav-icon:focus ~ #mobile-sub-menu {
        display: block;
    }

    li#mobile-list:hover > #dropDown-mobile{
        background-color: #1ABC9C;
        display: block;
    }

    #dropDown-mobile:hover {
        background-color: #1ABC9C;
    }

}