* {margin: 0; padding: 0;}

#container {
width: 100%;
height: 100%;
border: 1px solid skyblue;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

#box {
width: 100%;
height: 100%;
/*   background-color: orangered; */
border: 1px solid black;
background-color: #E5E7E9;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: flex-end;
/* opacity: 0.5; */
position: absolute;
z-index: 8;
}

@keyframes expandSound {
    from {height: 0px;}
    to {height: 100%;}
}

.sound-box {
    width: 150px;
    height: 100%;
    /* background-color: #E93939; */
    background-image: linear-gradient(180deg, #E5E7E9, rgba(31,97,141,0.8));
    /* border-radius: 5px; */
    /* border: 1px solid grey; */
    /* margin: 15px; */
    animation: expandSound 4s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes expandsTwo {
    from {height: 500px;}
    to {height: 100px;}
} */

.sTwo {
    /* width: 100px; */
    /* height: 500px; */
    /* height: 100%; */
    /* animation: expandsTwo 1.8s ease; */
    animation: expandSound 3.99s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes expandsThree {
    from{height: 450px;}
    to{height: 50px;}
} */

.sThree {
    /* width: 100px; */
    /* height: 500px; */
    /* height: 100%; */
    /* animation: expandsTwo 1.8s ease; */
    animation: expandSound 3.98s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sFour {
    animation: expandSound 3.97s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sFive {
    animation: expandSound 3.96s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sSix {
    animation: expandSound 3.95s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sSeven {
    animation: expandSound 3.94s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sEight {
    animation: expandSound 3.93s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sNine {
    animation: expandSound 3.92s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#text {
    /* border: 1px solid black; */
    position: absolute;
    z-index: 10;
    background-color: none;
}




